* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

h1 {
  color: #000000;
  font-size: 60px;
}

h1 span { 
    background-color: #fff; 
    padding: 10px;
}

p {
  color: #000000;
  font-size: 21px;
}

p span { 
    background-color: #fff; 
    padding-left: : 10px;
    padding-right: 10px;
}

li {
  color: #000000;
  font-size: 21px;
}

li span { 
    background-color: #fff; 
    padding-left: : 10px;
    padding-right: 10px;
}

.navbar {
  background-color: #30498d;  
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 100px;
}

.navbar img {
  max-height:130px;
  width:100%;
  max-width:100px;
}

.site-link {
  background-color: #fff;
}

/* Style tab links */
.tablink {
  color: white;
  float: right;
  cursor: pointer;
  padding: 14px 16px;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.column-long {
  width: 65%;
  float: left;
}

.column-short {
  width: 30%;
  float: right;
}

.column-short img {
  max-height: 400px;
}

@media screen and (max-width: 800px) {
  .column-long, .column-short {
  	width: 100%;
  }
  .navbar img {
  height: 75px;
  max-width: 150px;
}
}

#Home {color: white;
       background-image: url(images/bg/MP.jpg);
       background-size: cover;}
#RCF {color: white;
      background-image: url(images/bg/rcf2.jpg);
      background-size: cover;}
#JTS {color: white;
      background-image: url(images/bg/Microfoon2.jpg);
      background-size: cover;}
#LBG {color: white;
      background-image: url(images/bg/LBG2.jpg);
      background-size: cover;}
#Opname {color: white;
         background-image: url(images/bg/UO2.jpg);
         background-size: cover;}
#Intec {color: white;
        background-image: url(images/bg/intec2.jpg);
        background-size: cover;}
#Macpc {color: white;
        background-image: url(images/bg/macpc2.jpg);
        background-size: cover;}
#Kerktv {color: white;
         background-image: url(images/bg/kerktv2.jpg);
         background-size: cover;}
#Sonos{color: white;
       background-image: url(images/bg/sonos2.jpg);
       background-size: cover;}

