* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

h1 {
  color: #fff;
  font-size: 60px;
}

p {
  color: #fff;
  font-size: 21px;
}

li {
  color: #fff;
  font-size: 21px;
  padding-left: 10px;
}

@media only screen and (max-width: 600) {
  h1 {
  color: #fff;
  font-size: 30px;
}

p {
  color: #fff;
  font-size: 12px;
}

li {
  color: #fff;
  font-size: 12px;
  padding-left: 10px;
}
}

/* ---- NAVBAR ---- */
.navbar {
  background-color: #ffffff;  
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 100px;
}

.navbar img {
  max-height:130px;
  width:100%;
  max-width:100px;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom:0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar img {
    width: 100%;
    max-width: 100px;
    max-height:110px;
  }

    .dropdown-menu img {
    width: 100%;
    max-width: 60px;
    max-height: 70px;
  }

}

/* ---- NAVBAR TAB-LINKS ---- */
.site-link {
  background-color: #fff;
}

/* Style tab links */
.tablink {
  color: white;
  float: right;
  cursor: pointer;
  padding: 14px 16px;
}

.pop-up {
  color: white;
  float: right;
  cursor: pointer;
  padding: 14px 16px;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 50px 20px;
  height: 100%;
}

.column-long {
  width: 65%;
  float: left;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 40px 10px #000001;
}
.column-long a, p, h1 {
  padding-left: 10px;
}  

.column-short {
  width: 30%;
  float: right;
}

.column-short img {
  max-height: 400px;
}

@media screen and (max-width: 800px) {
  .column-long, .column-short {
  	width: 100%;
  }

  .tabcontent {
  color: white;
  display: none;
  padding: 50px 20px 70px;
  height: 150%;
}
}

@media screen and (max-width: 600px) {
  .tabcontent {
    color: white;
    display: none;
    padding: 50px 20px 70px;
    height: 200%;
  } 

  .tabcontent h1, p, li, img {
    max-width: 80%;
  } 
   .tablink {
   display: none;
  }
 } 

 
/* ---- PAGES BACKGROUND ---- */
#Home {color: black;
       background-image: url(images/bg/MP.jpg);
       background-size: cover;
       background-repeat: repeat-y;}
#RCF {color: black;
      background-image: url(images/bg/rcf2.jpg);
      background-size: cover;
      background-repeat: repeat-y;}
#JTS {color: black;
      background-image: url(images/bg/Microfoon2.jpg);
      background-size: cover;
      background-repeat: repeat-y;}
#LBG {color: white;
      background-image: url(images/bg/LBG2.jpg);
      background-size: cover;}
#Opname {color: white;
         background-image: url(images/bg/UO2.jpg);
         background-size: cover;}
#Intec {color: white;
        background-image: url(images/bg/intec2.jpg);
        background-size: cover;}
#Macpc {color: white;
        background-image: url(images/bg/macpc2.jpg);
        background-size: cover;}
#Kerktv {color: white;
         background-image: url(images/bg/kerktv2.jpg);
         background-size: cover;}
#Sonos{color: white;
       background-image: url(images/bg/sonos2.jpg);
       background-size: cover;}

/* ---- DROP-UPS ---- */

.menu-content {
display: none;
position: absolute;
bottom: 100px;
background-color: #30498d;
min-width: 160px;
z-index: 1;
}

.links {
color: #fff;
padding: 12px 16px;
text-decoration: none;
display: block;
font-size: 18px;
font-weight: bold;
border-bottom: 1px solid black;
}

.links:hover {
background-color: #777;
}
.dropdown-menu:hover .menu-content {
display: block;
}
.dropdown-menu:hover .menu-btn {
background-color: #777;
}

.dropdown-menu-mobile:hover .menu-content {
display: block;
}
.dropdown-menu-mobile:hover .menu-btn {
background-color: #777;
}

@media only screen and (min-width: 992px) {
  .dropdown-menu-mobile {
    display: none;
  }
}
/* ---- NEWS-IMAGES ---- */
.avatar {
  vertical-align: left;
  max-width: 50px;
  max-height: 50px;
}

@media only screen and (max-width: 600px) {
  .avatar {
    vertical-align: left;
    max-width: 10px;
    max-height: 10px;
  }

  .links {
    font-size: 12px;
  }

  .menu-content {
    display: none;
    position: absolute;
    bottom: 100px;
    background-color: #30498d;
    min-width: 300px;
    z-index: 1;
  }
}

/* ---- BUTTONS ---- */
.button {
  padding: 0 0 0 10px;
}

.crose-btn {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  z-index: 1;
  display: inline-block;
  min-width: 150px;
  height: 46px;
  color: #ffffff;
  background-color: #f0b52f;
  border-radius: 3px;
  padding: 0 30px;
  font-size: 14px;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: 700; }
  .crose-btn.active, .crose-btn:hover, .crose-btn:focus {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    background-color: #30498d; }

  